body {
	font-style: "Linotype Didot";
	font-size: 20px;
	background-color: #F7E9E8;
	color: #9C7F89;
	font-weight: bold;
	font-style: italic;
}

p {
	max-width: 400px;
	margin: 0px auto;
}

/* Home, Logo */

div a img {
	text-align: center;
	margin: auto;
	display: block;
}

/* Navigatie */

ul {
    list-style-type: none;
    margin: 0px auto;
    padding: 10px;
    overflow: hidden;
    font-size: 35px;
    text-align: center;
}

li {
	padding: 30px;
}

li a:hover{
	color: #9C7F89;
}

a,li {
	text-decoration: none;
	display: inline;
}


/* Tabellen*/

table {
	border: 3px solid #68555C;
	border-collapse: collapse;
	float: inherit;
}

.onvoldoende {
	color: red;
}

.head {
	color: white;
	background-color: #68555C;
}

.over {
	background-color: #CCCCCC;
}

tr, td {
	padding: 10px;
	border: 2px solid #68555C;
}

th {
	padding: 10px;
}

h1, h2, h3, p {
	text-align: center;
}

/* Link */

a {
	text-decoration: none;
	color: #68555C;
}

/* Sizing website */

@media only screen and (max-width: 399px) { 
	body {
		font-size: 7px;
	}
	a {
		font-size: 18px;
	}
	img {
		max-width: 300px;
		max-height: 110px;
	}
	ul {
		font-size: 25px;
	}
	li {
		padding: 20px;
	}
	table {
		max-width: 150px;
	}
	tr, td {
		min-width: 10px;
	}
}

@media only screen and (min-width: 400px) and (max-width: 549px) { 
	body {
		font-size: 16px;
	}
	img {
		max-width: 400px;
		max-height: 150px;
	}
	ul {
		font-size: 25px;
	}
	li {
		padding: 20px;
	}
	table {
		max-width: 350px;
	}
}

@media only screen and (min-width: 550px) and (max-width: 719px) { 
	body {
		font-size: 18px;
	}
	img {
		max-width: 400px;
		max-height: 150px;
	}
	ul {
		font-size: 30px;
	}
	li {
		padding: 20px;
	}
	table {
		max-width: 350px;
	}
}

@media only screen and (min-width: 720px) and (max-width: 1023px) {	
	body {
		font-size: 20px;
	}
	img {
		max-width: 700px;
		max-height: 200px;
	}
	ul {
		font-size: 30px;
	}
	li {
		padding: 25px;
	}

}

@media only screen and (min-width: 1024px) {
	body {
		font-size: 23px;
	}
}