body {
	font-style: "Linotype Didot";
	font-size: 23px;
	background-color: #F7E9E8;
	color: #9C7F89;
	font-weight: bold;
	font-style: italic;
}

/* Home, Logo */

.logo {
	
	margin: 0px auto;
}

/* Navigatie */

ul {
    list-style-type: none;
    margin: 0px auto;
    padding: 10px;
    overflow: hidden;
    font-size: 35px;
    text-align: center;
}

li {
	padding: 30px;
}

li a:hover{
	color: #9C7F89;
}

a,li {
	text-decoration: none;
	display: inline;
}


/* Tabellen*/

table {
	border: 3px solid #68555C;
	border-collapse: collapse;
	float: inherit;
}

.onvoldoende {
	color: red;
}

.head {
	color: white;
	background-color: #68555C;
}

.over {
	background-color: #CCCCCC;
}

tr, td {
	padding: 10px;
	border: 2px solid #68555C;
}

th {
	padding: 10px;
}

h1, h2, h3, p {
	text-align: center;
}

/* Link */

a {
	text-decoration: none;
	color: #68555C;
}